<link rel="import" href="/components/bower/polymer/polymer.html" />
<link rel="import" href="/components/tux-pin-dialog/tux-pin-dialog.html" />
<link rel="import" href="/components/bower/paper-button/paper-button.html" />
<link rel="import" href="/components/bower/iron-input/iron-input.html" />
<link rel="import" href="/components/tux-pin-registrar/tux-pin-registrar.html" />

<!-- TODO: Siren needs to be a singleton. -->

<dom-module id="tux-siren">
  <style>
  #tux-pin-dialog {
    text-align: center;
  }

  #pin-input {
    display: block;
    width: 2.5em;
    margin: 10px auto;
    font-size: 2em;
    text-align: center;
  }
  </style>
  <template>
    <audio id="sound" src="siren.mp3" loop></audio>
    <tux-pin-registrar id="inSiren" registered-pin="{{registeredPin}}"></tux-pin-registrar>
    <tux-pin-dialog id="pin-dialog" pin="{{enteredPin}}">
      <tux-pin-dialog-heading>Enter PIN</tux-pin-dialog-heading>
      <tux-pin-dialog-body>
        Enter PIN to stop the siren.
      </tux-pin-dialog-body>
      <tux-pin-dialog-buttons>
        <paper-button on-click="verifyPin">Verify</paper-button>
      </tux-pin-dialog-buttons>
    </tux-pin-dialog>
  </template>

  <script>
  Polymer({
    is: 'tux-siren',

    ready: function() {
      this.sound = this.$['sound'];
      this.pinDialog = this.$['pin-dialog'];
    },

    get isBuzzing() {
      return this._isBuzzing;
    },

    buzz: function() {
      if(this._isBuzzing) return;

      this.sound.play();
      this._isBuzzing = true;

      this.pinDialog.open();
    },

    verifyPin: function() {
      if(this.enteredPin === this.registeredPin) {
        this.stop();
        this.pinDialog.close();
      }
    },

    stop: function() {
      if(!this._isBuzzing) return;

      this.sound.pause();
      this._isBuzzing = false;
      this.sound.currentTime = 0;
    }
  });
  </script>
</dom-module>
