<link rel="import" href="/components/bower/polymer/polymer.html" />
<link rel="import" href="/components/bower/paper-dialog/paper-dialog.html" />

<dom-module id="tux-pin-dialog">
  <style>
  #pin-dialog {
    text-align: center;
  }

  #pin-input {
    display: block;
    width: 2.5em;
    margin: 10px auto;
    font-size: 2em;
    text-align: center;
  }
  </style>

  <template>
    <paper-dialog id="pin-dialog" modal on-iron-overlay-opened="dialogShown">
      <h2><content select="tux-pin-dialog-heading"></content></h2>
      <div>
        <content select="tux-pin-dialog-body"></content>
        <input is="iron-input" id="pin-input"
          type="password"
          allowed-pattern="[0-9]"
          maxlength="4"
          autofocus
          bind-value="{{pin}}">
        </input>
      </div>
      <div class="buttons">
        <content select="tux-pin-dialog-buttons"></content>
      </div>
    </paper-dialog>
  </template>

  <script>
  Polymer({
    is: 'tux-pin-dialog',

    properties: {
      pin: {
        type: String,
        notify: true
      }
    },
    
    ready: function() {
      this.pinDialog = this.$['pin-dialog'];
      this.pinInput = this.$['pin-input'];
    },

    open: function() {
      this.pinDialog.open();
    },

    close: function () {
      this.pinDialog.close();
    },

    dialogShown: function() {
      if(this.pin && this.pin.length) {
        this.pin = "";
      }
    }
  });
  </script>
</dom-module>
