<link rel="import" href="/components/bower/polymer/polymer.html" />
<link rel="import" href="page-router.html" />

<dom-module id="bs-link">
    <template>
        <content></content>
    </template>
    <script>
    Polymer({
        is: 'page-link',

        properties: {
            goto: {
                type: String
            }
        },

        listeners: {
            'tap': '_handleTap'
        },

        _handleTap: function() {
            var path = this.goto;
            document.createElement('page-router').goto(path);
        }
    });
    </script>
</dom-module>
