<link rel="import" href="/components/bower/polymer/polymer.html" />
<link rel="import" href="/components/bower/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/components/bower/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/components/bower/paper-drawer-panel/paper-drawer-panel.html" />
<link rel="import" href="/components/bower/paper-menu/paper-menu.html" />
<link rel="import" href="/components/bower/paper-item/paper-item.html" />
<link rel="import" href="/components/bower/paper-button/paper-button.html" />
<link rel="import" href="/components/bower/iron-icons/iron-icons.html" />
<link rel="import" href="/components/bower/page-router/page-router.html" />
<link rel="import" href="/components/tux-pin-registrar/tux-pin-registrar.html" />

<dom-module id="tux-app">
  <template>
    <tux-pin-registrar id="tux-pin-registrar" registered-pin="{{registeredPin}}"
      on-registered-pin-empty="userPinEmpty"></tux-pin-registrar>
    <paper-drawer-panel id="drawerPanel">
      <paper-header-panel drawer on-click="_drawerHeaderPanelClicked">
        <paper-toolbar>
          <div>tux</div>
        </paper-toolbar>
        <div class="layout vertical drawer-items">
          <paper-menu>
            <page-link goto="/" class="drawer-item">
              <paper-item>Home</paper-item>
            </page-link>
          </paper-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel main class="layout vertical">
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="flex"></div>
        </paper-toolbar>
        <page-router-slot name="main" class="flex main-slot"></page-router-slot>
      </paper-header-panel>
    </paper-drawer-panel>
  </template>
  <script>
  Polymer({
    is: 'tux-app',

    ready: function() {
      var router = document.createElement('page-router');

      router.constructComponentPath = function(compName) {
        return '/components/pages/'+compName+'.html';
      };

      router.route({path: '/', comp: 'pg-home'});
      router.start();

      this.pinRegistrar = this.$['tux-pin-registrar'];
    },

    _drawerHeaderPanelClicked: function() {
      this.$.drawerPanel.closeDrawer();
    },

    userPinEmpty: function() {
      this.pinRegistrar.registerPin();
    }
  });
  </script>
</dom-module>
